/* Responsive Styles */
@media (max-width: 767px) {
    .image-container {
        top: 0px;
        left: 0px;
    }

    .text-container {
        display: none;
    }
    
    .image-container h1 {
        font-size: 24px;
    }

    .pagine-footer {
        display: none;
    }

    .sep-footer {
        display: none;
    }

    #contatti {
        display: none;
    }

    #contatti-small {
        display: block !important;
        margin-top: 40px;
    }
    .info-contatti {
        text-align: center;
        background-color: black;
        padding: 30px 0;
        color: white;
    }

    .indirizzo-small {
        margin-top: 50px;
    }

    .telefono-small, .email-small {
        margin-top: 30px;
    }

    .logo-small {
        width: 200px
    }

    .social-small {
        width: 30px;
    }

    .contatti-big {
        display: none;
    }

    .contatti-small {
        display: block !important;
    }
}

@media (max-width: 576px) {
    .image-container {
        top: 0px;
        left: 0px;
    }

    .text-container {
        display: none;
    }
    
    .image-container h1 {
        font-size: 20px;
    }

    .pagine-footer {
        display: none;
    }

    .sep-footer {
        display: none;
    }

    #contatti {
        display: none;
    }

    #contatti-small {
        display: block !important;
        margin-top: 40px;
    }

    .info-contatti {
        text-align: center;
        background-color: black;
        padding: 30px 0;
        color: white;
    }

    .indirizzo-small {
        margin-top: 50px;
    }

    .indirizzo-small {
        margin-top: 50px;
    }

    .telefono-small, .email-small {
        margin-top: 30px;
    }

    .logo-small {
        width: 200px
    }

    .social-small {
        font-size: 30px;
    }

    .contatti-big {
        display: none;
    }

    .contatti-small {
        display: block !important;
    }
}